.styled-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #151632;
}

.styled-table th, 
.styled-table td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
  color: #0c101b; /* Set font color */
}

.styled-table th {
  background-color: #cecccc;
  font-weight: bold;
}

.styled-table td {
  background-color: #f1efef;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tr:hover {
  background-color: #ddd;
}

.custom-margin {
    margin-right: 8px;
  }

.manageCourseSideBarDiv {
  width: 250px; 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f0f0f0; 
  overflow-y: auto; 
}

.manageCourseBoxDiv {
  margin-left: 200px; 
  padding: 20px; 
}

.manageCourseContainer {
  margin-left: 50px;
}

.manageCoursediv1 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.manageCoursediv2 {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.manageCoursetopBarDiv{
  color: #f0f0f0;
  font-weight: bold;
  margin-left: 250px;  
}