.studentAttendancetopBarDiv{
    color: #f0f0f0;
    font-weight: bold;
    margin-left: 250px;  
  }
  
.studentAttendancesideBarDiv {
    width: 250px; 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f0f0f0;
    overflow-y: hidden; 
}

.studentAttendanceBoxDiv {
    margin-left: 250px; 
    padding: 10px; 
}

.studentAttendancecontainer {
    margin-left: 50px;
}

.studentAttendancediv1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .studentAttendancediv2 {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }
    